* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #0b0f19;
    color: #f2f2f2;
    line-height: 1.6;
    padding: 20px;
}

span {
    color: #7dd3fc;
}

h1,
h2,
h3 {
    font-family: "Open Sans", sans-serif;
    color: #fff;
}

nav {
    display: flex;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.logo {
    display: inline-block;
    padding-left: 20px;
    padding-top: 8px;
    font-weight: bold;
}

a {
    color: #7dd3fc;
    text-decoration: none;
}

ul {
    list-style: none;
    display: inline-block;
    display: flex;
    gap: 20px;
    margin-left: auto;
    padding-right: 30px;
    padding-top: 15px;
}

li {
    font-size: 17px
}

a:hover {
    /* text-decoration: underline; */
    color: #f2f2f2;
}

.hero-section {
    padding-top: 15%;
    position: relative;
    text-align: center;
    line-height: normal;
    font-weight: bolder;
    /* font-weight: 900px; */
}

.hero-section h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-section p {
    /* font-size: 20px; */
    margin-bottom: 30px;
    color: #cbd5e1;
    font-weight: 400;
}

.button {
    background-color: #7dd3fc;
    color: #0b0f19;
    padding: 12px 30px;
    border: none;
    border-radius: 35px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
}

.hero .button:hover {
    background-color: #38bdf8;
    transform: translateY(-8px);
    transition: 0.3s;
}

.services-section {
    padding: 60px 20px;
    text-align: center;
}

.services-section h2 {
    font-size: 36px;
    margin-bottom: 70px;
    padding-top: 14%;
}

.service-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card {
    background-color: #1e2533;
    padding: 27px 15px;
    border-radius: 10px;
    flex: 1;
    text-align: center;
}
.service-cards .card:hover {
    background-color: #2a3245;
    transform: translateY(-8px);
    transition: 0.7s;
}
.container {
    display: flex;
    align-items: center;
    border-radius: 0px;
    margin-top: 50px;
    padding: 60px 50px;
    justify-content: space-around;
    /* background-color: #1e2533; */
}


.about-image {
    flex: 1;
    /* border-radius: 20px; */
}

.about-image img {
    /* width: 100%; */
    border-radius: 10px;
}

.about-text {
    flex: 1;
}

.contact-section {
    background-image: url(/photo-1492724441997-5dc865305da7.avif);
    position: relative;
    padding: 6rem 5%;
    text-align: center;
    background-size: cover;
    background-position: center;
    color: #f2f2f2;
}

.overlay-backgroung {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: relative;
    height: relative;
    /* z-index: 1; */
}

.contact-text h2 {
    font-size: 36px;
}
.contact-text p {
    font-size: 16px;
    color: rgb(32, 30, 30);
    font-weight: 500;
}
.contact-text span {
    font-size: 19px;
    font-weight: 600;
    color: black;
}

footer {
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
footer p{
    font-size: 14px;
}
.social-links{
    margin-top: 10px;
}